# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Chess2D.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lev\Desktop\Unity\Chess2D\.idea\.idea.Chess2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
